<!DOCTYPE html>
<html lang="fr">
		<html>
<head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible">
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin="" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link href= "/views/style/style.css" rel="stylesheet" type="text/css" />
</head>

<header>

		<nav class="navbar navbar-expand-lg bg-light" style="background-color: #d46cb2;">
				<a class="navbar-brand" href="/" style="color: #8f1338; font-size: medium;">Rail Wars</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						
						<li class="nav-item">
								<a class="nav-link" href="/" role="button" style="color: #8f1338;">Accueil</a>
							</li>
						<li class="nav-item">
							<a class="nav-link" href="/history" style="color: #8f1338;">Historique</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sign" role="button" style="color: #8f1338;">Sign in/Sign up</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="/profil" style="color: #8f1338;">
										Profil
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
												<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
										</svg>
										
									</a>
						</li>
					</ul>
				</div>
			</nav>
	</header>